# {{ project.name_short }} Contingency Plan

## Contents
<!--TOC-->

----

## Overview

This Contingency Plan provides guidance for the {{ contractor.name_short }} Team on delivering our essential mission and business functions follwing a disruption, compromise, or failure of any {{ project.name_short }} component.

"Disruption" means unexpected downtime or significantly reduced service lasting longer than:

- 30 minutes during standard U.S. business hours (0900-2100 EST, Monday through Friday)
- 90 minutes at other times

Disruption can include unexpected downtime of key services, data loss, or improper privilege escalation. In many cases, the robust contingency management capabilities of [AWS Cloud Security](https://aws.amazon.com/security/) coupled with [N2WS CPM backups and disaster recovery](https://n2ws.com/product/aws-disaster-recovery) will resolve/remediate event occurrences.

For a security incident and most events, the [Security Incident Response Plan](security-irp.md) provides guidance for the responding team.

### Preparedness

This plan is most effective if all core CivicActions team members know about it, remember
that it exists, have opportunities to give input based on their expertise, and keep it up
to date.

### Plan maintenance

The {{ contractor.name_short }} team is responsible for maintaining and updating this
document as needed. Changes must be approved and peer reviewed by another team member.

- All changes should be communicated to the team.
- Annually, and after major changes to our systems, we review and update the plan.

The CivicActions team protects this plan from unauthorized modification. This plan is
stored in the CivicActions GitLab repository
({{ project.ssp_url }}). Authorization to modify it is limited to the
Incident Response Team by GitLab access controls. Per {{ contractor.name_short }} policy,
a team member proposes changes by making a pull request and asking another team member to
review and merge the pull request.

### Recovery objective

Our objective is to recover from any significant problem (disruption, compromise, or
failure) within 3 hours. Any disruption to {{ project.name_short }} services lasting more
than 3 hours during standard U.S. business hours (0900 - 2100 Eastern Time) is considered
unacceptable.

Short-term disruptions lasting less than 30 minutes are outside the scope of this plan.

## Incident Response Team information Contact information

To maintain current and accurate contact information, the contact list is maintained as a
[private spreadsheet]({{ project.contact_sheet.url }}) and linked to the the Project
Contingency Plan. If you require access to the source document, contact the ISO.

{% if project.contact_sheet.image.path is not none -%}
Team contact information is available in the {{ project.name_short }} Contact List
below. The {{ project.contact_sheet.name }} contact sheet includes names and roles for
Contingency Plan and Incident Response Team members.
![{{ project.contact_sheet.image.alt }}]({{ project.contact_sheet.image.path }})
{%- endif %}

## Contingency plan outline

### Activation and notification

The first Incident Response Team member who notices or reports a potential contingency-plan-level problem becomes the **Incident Commander** (IC) until recovery efforts are complete, or until the Incident Commander role is explicitly reassigned.

If the problem is identified as part of a [security incident response situation](security-irp.md) (or becomes a security incident response situation), the same Incident Commander (IC) should handle the overall situation since these response processes must be coordinated.

The IC first notifies and coordinates with the people who are authorized to decide that {{ project.name_short }} is in a contingency plan situation:

- From {{ contractor.name_short }}:
  - Incident Commander
  - Project Manager
  - {{ contractor.name_short }} Incident Response Team
- {{ project.name_short }}
  - Product Owner
  - {{ project.name_short }} users, when applicable

The IC keeps a log of the situation in a JIRA Incident ticket; if this is also a security incident, the IC also follows the [security incident communications process](security-irp.md#initiate) which includes updating the {{ contractor.name_short }} Slack channel {{ project.slack_link }} Slack channel. The IC should delegate assistant ICs for aspects of the situation as necessary.

## Recovery

The Incident Response Team assesses the situation and works to recover the system. See the list of [external dependencies](#external-dependencies) for procedures for recovery from problems with external services.

If this is also a security incident, the IC also follows the [security incident assessment](security-irp.md#assess) and [remediation](security-irp.md#remediate) processes.

If the IC assesses that the overall response process is likely to last longer than 3 hours, the IC should organize shifts so that each responder works on response for no longer than 3 hours at a time, including handing off their own responsibility to a new IC after 3 hours.

### Backup and restore

Hourly and daily [snapshots](https://console.aws.amazon.com/ec2/v2/home?region=us-east-1#Snapshots) are created using the [{{ project.backup_system }}]({{ project.backup_url }})

- First determine how far back in time to go to obtain a clean backup for restore
- Restore by using the `Recover` tab for the instance needing restoration

#### To recover a downed server

Note: _Volumes should not be deleted by default. If you terminate the old instance before
you begin, CPM will attempt the re-use the internal "backnet" (172.x.x.x) addresses_

1. Log in to CPM at: <{{ project.backup_url }}>

   - Determine how far back in time to go to obtain a clean backup for restore.
   - Click **Recover** on the most recent hourly snapshots previous to issue occurrence.
   - Click **Instance** of the instance to be recovered.
   - Click **Recover Instance**.

2. Reset: _(this part needs additional documentation)_

   - Elastic IPs
   - Internal backnet addresses (in .ssh/config files) _(unnecessary if backnet preserved)_
   - System name tags of instances and volumes
   - Monitoring alarms _(if they had been disabled)_

#### Disaster recovery (DR)

Go to <https://n2ws.com/support/documentation/10-disaster-recovery-dr> and review the following sections:

- Performing DR on the N2WS Server (The cpmdata Policy)
- DR Recovery
- DR Instance Recovery
- DR of Encrypted Volumes, AMIs and Amazon RDS Instances

### Reconstitution

For reconstitution:

1. The Incident Response Team tests and validates the system as operational.
2. The IC declares that recovery efforts are complete and notifies all relevant people.
3. The IC schedules a postmortem in the JIRA ticket to discuss the event. This is the 
   same as the [security incident retrospective process](security-irp.md#retrospective).

## External dependencies

{{ project.name_short }} depends on several external services. In the event one or more of these services has a long-term disruption, the team will mitigate impact by following this plan.
{% if services is defined -%}
{% for item in services.service %}
### {{ item.service.name }}

{% if item.service.url is defined -%}
- **Service:** <{{ item.service.url }}>
{% endif -%}
{% if item.service.status is defined -%}
{% for statuses in item.service.status -%}
- **Status:** <{{ statuses }}>
{% endfor -%}
{% endif -%}
{% if item.service.backup is defined -%}
- **Backup:** <{{ item.service.backup }}>
{% endif -%}
{% if item.service.documentation is defined -%}
- **Documentation:** <{{ item.service.documentation }}>
{% endif -%}
{% if item.service.description is defined %}
{{ item.service.description }}
{% endif -%}
{%- endfor %}
{%- endif %}
