# Applicable Laws and Regulations

The following laws, regulations, or policies establish requirements for confidentiality, integrity, and availability for the {{ project.name }}. This document references the publications where appropriate.

## Federal Statutes

{% if regulations.fed_statutes is defined -%}
{% for item in regulations.fed_statutes -%}
* {{ item.title }}
  * <{{ item.url }}>
{%- endfor %}
{%- endif %}

## Federal Standards and Guidelines

{% if regulations.standards is defined -%}
{% for item in regulations.standards -%}
* {{ item.title }}
  * <{{ item.url }}>
{%- endfor %}
{%- endif %}

## Additional Federal Statutes

Review these for current versions and applicability

{% if regulations.additional is defined -%}
{% for item in regulations.additional -%}
* {{ item }}
{% endfor %}
{%- endif %}