# {{ risk.title }}

## {{ project.client_name_short }} {{ project.name }}

{{ current_date.strftime('%B %Y') }}
Version {{ risk.version }}

{{ contractor.name }}
{{ contractor.address.city }}, {{ contractor.address.state }}
{{ contractor.website }}

{{ current_date.strftime('%Y') }} {{ contractor.name }}
All rights reserved.

Information contained in this document is proprietary,
confidential, and intended for the use of {{ contractor.name_short }}
and the indicated client organization only.

## I. RISK DEFINITIONS

Any software project requires attention to risk management and mitigation. Throughout our projects we continually assess individual tasks and the project as a whole in terms of risks and mitigation measures to minimize any consequences a high-risk item could have on time, scope or budget, ultimately reducing the risk and ensuring transparency around our approach.

**Software and data risk**: Risk is assigned not only to the complexity of a task and related data requirements, but also the impact the task has on the future sustainability of the site or a specific feature. We evaluate also if the request complies with the PWS to identify any risk with discrepancies.

**Budget risk**: When a task has a low value but a high cost, risk is identified and brought back to the Product Owner for prioritization consideration. Budget risk also comes into play if an estimate for a task was incorrect or if the budget was not clearly tied to deliverables or schedule.

**Scope risk**: In scrum, we identify scope at the onset of the sprint and scope is locked during that duration. If a task cannot be properly scoped due to insufficient information, we request that the risk is mitigated by first doing an investigation task so that scope can then be identified and the value and risk can be weighted and prioritized for the next sprint.

**Schedule and timeline risk**: When delivering new functionality or improvements, deployment timing can be a major risk factor, especially when usability is an issue for site users. Risk is also identified if the schedule is driven by a specific date or if the launch date is not shared with the Scrum team.

**Mitigation Plan**: Measures we will carry out to reduce the likelihood and/or impact of the risk. Alternatively, we (client & {{ contractor.name_short }}) can decide to accept the risk.

**Indicator**: A sign we will monitor to determine if the risk is beginning to have an impact on the project.

**Contingency Plan**: What we will do if the risk does arise.

## II. Measure Risk

**Risk Severity**: The severity of a risk is its likelihood multiplied by its impact. Risks are classified as minor if they have a low likelihood, negligible impact, or medium likelihood and marginal impact.

We typically measure risk as:

* **High**, where additional research and discovery are required before a rational estimate can be made.
* **Medium**, where we know how to achieve the goal but there are clearly identified aspects of the development that could prove troublesome.
* **Low**, where the task is relatively routine and we know how to address any contingencies.

Again, risk assessment is something that is done at every meeting, and within each ticket, to help keep development progress on track and to assist in prioritizing functional requirements.

If tasks are identified as both high priority and high risk, we typically address them first in order to accelerate the discovery of potential problems so that we have enough time to overcome any technical or organizational obstacles.

## III. Project Risks

{{ risk.sections.risk.description }}

| Name | Description | Mitigation Plan | Owner |
|---|---|---|---|
{% for item in risk.sections.risk.risks -%}
| {{ item.name }} | {{ item.description }} | {{ item.mitigation }} | {{ item.owner }} |
{% endfor -%}