# {{ project.name_short }} Security Incident Response Procedure Checklist

This checklist provides incident response procedures. For more detail, see the [Security Incident Response Plan](security-irp.md).

## Contents
<!--TOC-->

----

## 1. _Breathe_

No one's life is in danger.
<br/>
<br/>

## 2. Start documenting

Begin documenting all steps and findings. Documentation makes handoffs and responder onboarding easier. The Slack channel [#{{ project.slack_channel }}]({{ project.slack_url }}) is recommended because it is most widely accessible, but other [communication channels](security-irp.md#communication-channels) may be used.
<br/>
<br/>

## 3. Initiate the response

_At this stage, the _First Responder_ is usually working alone, and is also the _Incident Commander_ (IC)._

A. Allocate 5 minutes and determine whether this event is a potential incident or false alarm.

B. Respond accordingly:

  - **Potential incident**
    1. [Broadcast notification](security-irp.md#communications-during-the-initiate-phase) via one or more of the following:
         - Slack channel [#{{ project.slack_channel }}]({{ project.slack_url }}). Use `@channel` to notify the team. This may have been automatic via {{ project.pager }} pager alarms.
         - Email to "on call" system admin: {{ project.escalation_mail }}
         - Email/telephone to [{{ contractor.name_short }}/{{ project.name_short }} IR team]({{ project.contact_sheet_url }})
    2. For an incident requiring more than 30 minutes to resolve:
         - Recruit additional IR team responders via the Slack channel [#{{ project.slack_channel }}]({{ project.slack_url }}).
         - Designate an [**Incident Commander**](security-irp.md#incident-commander) and [hand off the IC duties](security-irp.md#explicit-handoff-ceremony).


           More information on [incident response roles and responsibilities](security-irp.md#roles-and-responsibilities):
             - [Responder](security-irp.md#responder)
             - [Incident Commander (IC)](security-irp.md#incident-commander)
             - [Communications Officer (CO)](security-irp.md#communications-officer)

             Use the [_Explicit Handoff Ceremony_](security-irp.md#explicit-handoff-ceremony) when transferring/changing roles.


  - **False alarm**
    
    Conclude the incident. Proceed to [_6. Conclude the incident_](#conclude-the-incident).
<br/>
<br/>


## 4. Assess the incident
<br/>

**Team responsibilities**


A. Confirm the incident.

  1. Gather information, and document your findings.
       - Was the event triggered by an [external dependency](contingency-plan.md#external-dependencies)?
       - Is a system failure causing the disruption?
  2. Proceed to the next step for a confirmed incident. (For a false alarm, conclude the incident. Proceed to [_6. Conclude the incident_](#conclude-the-incident).)


B. Assess the severity. Use the [rubric in the IR guide](security-irp.md#incident-severities). ({{ project.name_short }} incidents are generally "Low severity".)

D. Assess whether to activate the [contingency plan](contingency-plan.md). Consider whether Disaster Recovery is required.

_Reminder: Use the [Explicit Handoff Ceremony](#explicit-handoff-ceremony) when transferring/changing roles._
<br/>
<br/>

<br/>

**Incident Commander responsibilities**

- Post an initial situation report, called a _sitrep_ ([example sitrep](security-irp.md#assess)), to the Slack channel [#{{ project.slack_channel }}]({{ project.slack_url }}). Include a descriptive name, and identify the current Incident Commander and Responders.
- Ensure that a {{ project.issue_system }} has been created.

<br/>

## 5. Remediate
<br/>

**Team responsibilities**

- Determine the cause, implement a resolution, and return the system to normal operations. Make every attempt to identify the cause; this can prevent incident recurrence.

- If suspicious activity is suspected or other unanswered questions exist, do the following before making any changes:
  - Make {{ project.backup_snaps }} of relevant volumes and data.
  - Preserve logs.
  - Take screen captures of anomalous activity that can be used in post-remediation forensic analysis.
  - Consider implementing a containment strategy. For example, reconfigure firewall rules for the affected instance to drop all ingress and egress traffic, except from specific IPs like yours, until forensics can be performed.

<br/>

**Incident Commander responsibilities**

- Maintain current information in Slack, shared Google Docs files, the {{ project.issue_incident }}, or other [communication channels](security-irp.md#communication-channels). Be sure to include:
  - Team leads and members
  - Remediation items and their assignees
- Establish and document work shifts for an incident longer than 3 hours.
- Maintain communications with stakeholders, or designate a _Communications Officer_ via [explicit handoff](security-irp.md#explicit-handoff-ceremony).
- Share _sitreps_ on a regular basis:
    - High severity: hourly
    - Medium severity: 2x daily
    - Low severity: daily
- Focus on coordination, not remediation.
<br/>
<br/>

## 6. Conclude the incident

A. Update the {{ project.issue_system }} and set the status to one of the following:
  - Confirmed incident: _Ready for QA_
  - False alarm: _Done_

B. Notify the Slack channel [#{{ project.slack_channel }}]({{ project.slack_url }}) that the incident has been resolved.

C. Schedule an [Incident Response Team retrospective](security-irp.md#have-a-team-retrospective). Optional for false alarms.

D. Share the final _sitrep_ with stakeholders.

E. Thank everyone for their service.
